@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
  -webkit-overflow-scrolling: touch;
}

@font-face {
  font-family: 'MontserratLight';
  font-weight: normal;
  src: url('montserrat_light.eot');
  src: url('montserrat_light.eot?#iefix') format('embedded-opentype'),
       url('montserrat_light.woff2') format('woff2'),
       url('montserrat_light.woff') format('woff'),
       url('montserrat_light.ttf')  format('truetype'),
}

@font-face {
  font-family: 'MontserratRegular';
  font-weight: normal;
  src: url('montserrat_regular.eot');
  src: url('montserrat_regular.eot?#iefix') format('embedded-opentype'),
       url('montserrat_regular.woff2') format('woff2'),
       url('montserrat_regular.woff') format('woff'),
       url('montserrat_regular.ttf')  format('truetype'),
}

body {
  background-color: #1a1a1a;
}

.sidebar-toggle {
  cursor: pointer;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  overflow-x: hidden;
}

.sidebar a {
  font-family: 'MontserratLight', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(128,128,128,0.4);
  display: block;
  margin-left: 19px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  padding: 25px 40px;
  margin-left: 250px;
  border-radius: 15px 0px 0px 15px;
  background-color: #fafcff;
  height: 100%;
  width: calc(100% - 250px);
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.main-logo {
  background-image: url('../assets/menu_logo.svg');
  background-repeat: no-repeat;
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: center;
}

.menu {
  display: block;
  padding-left: 25px;
}

.menu-item {
  display: flex;
  margin-bottom: 25px;
}

.menu-item .fa {
  width: 22px;
  height: 22px;
  font-size: 22px;
  color: rgba(128,128,128,0.4);
  padding-top: 3px;
  padding-right: 15px;
}

.menu-item.active .fa {
  color: #197858 !important;
}

.active {
  color: #ffffff !important;
}

.new {
  width: 36px;
  height: 15px;
  border-radius: 2px;
  background-color: #e64747;
  font-family: 'MontserratRegular', sans-serif;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: center;
  margin-left: 10px;
}

.menu-item.bottom {
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.main-header {
  width: 100%;
  display: inline-block;
}

.main-header h1 {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #111816;
  display: inline-block;
}

.main-header-icons {
  display: inline-flex;
  float: right;
  margin-top: -5px;
}

.main-header-icons-admin {
  display: inline-flex;
  float: right;
  margin-top: -5px;
}

.main-header-icons .icon {
  margin-right: 15px;
  display: inline-block;
  padding: 6px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 rgba(160, 168, 198, 0.2);
  border: solid 1px rgba(17, 24, 22, 0.01);
  background-color: #ffffff;
}

.main-header-icons-admin .icon {
  display: inline-block;
  padding: 6px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 rgba(160, 168, 198, 0.2);
  border: solid 1px rgba(17, 24, 22, 0.01);
  background-color: #ffffff;
}

.main-header-icons img {
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.main-header-icons-admin img {
  left: 0;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.main-header-icons-admin {
  position: relative;
}

.main-header-icons-admin select {
  cursor: pointer;
  padding: 0px 35px 0px 25px;
  margin-right: 25px;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 rgba(160, 168, 198, 0.2);
  border: solid 1px rgba(17, 24, 22, 0.01);
  background-color: #ffffff;
  opacity: 0.9;
  font-family: 'MontserratLight', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111816;
}

option {
  height: 40px;
  opacity: 0.9;
  font-family: 'MontserratLight', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111816;
}

.filter-img {
  position: absolute;
  height: 16px !important;
  margin-top: 11px;
}

.back-employee {
  opacity: 0.8;
  font-family: 'MontserratRegular', sans-serif;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111816;
  cursor: pointer;
}

.empl-img {
  vertical-align: sub;
  cursor: pointer;
}

.flex {
  display: inline-flex !important;
}

.top-button {
  display: inline-flex;
  height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 rgba(160, 168, 198, 0.2);
  border: solid 1px rgba(17, 24, 22, 0.01);
  background-color: #ffffff;
  opacity: 0.9;
  font-family: 'MontserratRegular', sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #111816;
  padding: 12px 15px;
  margin-right: 15px;
  cursor: pointer;
}

.top-button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.top-button i {
  color: #197858;
  margin-right: 12px;
}

hr {
  background-color: #197858;
  margin: 0px !important;
  margin-left: 19px !important;
  width: 16px;
  height: 2px;
}

@media (max-width: 767.98px) {
  .sidebar {
    display: none;
  }
  #main {
    margin-left: 0px;
    border-radius: 0px;
    width: 100%;
    padding: 15px;
  }
}
